$darkblue : rgba(36,52,112,0.8);
$darkorange: #FF6700;

.boxcontainer>:nth-child(2){
    background-color: $darkblue;
}
.dashbox {
    box-shadow: 2px 2px 15px 5px rgb(0, 0, 0, .25);
}

.searchcont{
    background-color: $darkblue;
}
.dashboardsearch:focus{
    outline-style: none;
    outline-color: none;
    outline-width: none;
    caret-color: white;
}

.resultinfo{
    border-top: 1px solid $darkorange;
}

::-webkit-scrollbar {
    display : none;
    }

@media only screen and (min-width : 1200px) {
    // SCROLL BAR STYLES
    ::-webkit-scrollbar {
        display: inline;
        width: 10px;
        }

    ::-webkit-scrollbar-track {
    background: transparent;
    }
    
    ::-webkit-scrollbar-thumb {
    background: #FF6700;
    border-radius: .8rem;
    }
    
    ::-webkit-scrollbar-thumb:hover {
    background: #FF6700;
    }
}